[Unit]
Description=Configuring GlusterFS in container
After=glusterd.service
Requires=glusterd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/gluster-geo-setup.sh

[Install]
WantedBy=multi-user.target
